In [50]:
import pandas as pd
import numpy as np
from pathlib import Path

In [51]:
all_coins = pd.read_csv('Coins_Data_Master.csv').set_index('date')

In [52]:
all_coins

             symbol    open    high     low   close    Volume USD
date
2022-08-04  AMP/USD  1.2195  1.2351  1.2109  1.2351    166.502814
2022-08-03  AMP/USD  1.2757  1.2815  1.2016  1.2195   2386.907702
2022-08-02  AMP/USD  1.2395  1.3454  1.1198  1.2690  17428.537774
2022-08-01  AMP/USD  1.3583  1.3941  1.1644  1.2400   3366.315851
2022-07-31  AMP/USD  1.7732  1.7759  1.3119  1.3583   3836.307001
...             ...     ...     ...     ...     ...           ...
2021-12-12  CTK/USD  1.6700  1.7599  1.6324  1.7599  16546.032830
2021-12-11  CTK/USD  1.5808  1.7199  1.5808  1.6680  15553.434563
2021-12-10  CTK/USD  1.5261  1.8173  1.5261  1.5808  15983.444664
2021-12-09  CTK/USD  1.6459  1.6884  1.4841  1.5300  10878.331664
2021-12-08  CTK/USD  1.6399  1.6750  1.5250  1.6370  13268.057791

[61779 rows x 6 columns]

In [53]:
all_coins['symbol'].unique()

array(['AMP/USD', 'PNG/USD', 'KAN/USD', 'DGB/USD', 'LTC/USD', 'AIX/USD',
       'BFT/USD', 'XRP/USD', 'STJ/USD', 'SXX/USD', 'ZIL/USD', 'ESS/USD',
       'TRX/USD', 'EDO/USD', 'ANT/USD', 'VSY/USD', 'DOG/USD', 'QTM/USD',
       'GTX/USD', 'XRD/USD', 'MKR/USD', 'FCL/USD', 'LRC/USD', 'JST/USD',
       'GNO/USD', 'BTG/USD', 'BAL/USD', 'IDX/USD', 'QTF/USD', 'CEL/USD',
       'CLO/USD', 'EUS/USD', 'DAI/USD', 'XTZ/USD', 'XVG/USD', 'IQX/USD',
       'SRM/USD', 'ADA/USD', 'VEE/USD', 'RBT/USD', 'FIL/USD', 'OXY/USD',
       'HMT/USD', 'EUT/USD', 'FET/USD', 'CRV/USD', 'UOS/USD', 'FUN/USD',
       'BTT/USD', 'ODE/USD', 'ATO/USD', 'OMG/USD', 'KAI/USD', 'WBT/USD',
       'BAT/USD', 'DOT/USD', 'MOB/USD', 'PNK/USD', 'IOT/USD', 'XSN/USD',
       'GRT/USD', 'DVF/USD', 'GOT/USD', 'ZEC/USD', 'MNA/USD', 'HIX/USD',
       'ETC/USD', 'ANC/USD', 'UST/USD', 'XDC/USD', 'AID/USD', 'SGB/USD',
       'NEO/USD', 'ETH/USD', 'MIM/USD', 'UDC/USD', 'WOO/USD', 'SUN/USD',
       'PAX/USD', 'MIR/USD', 'SNT/USD', 'B2M/USD', 'QTUM/USD', 'FTM/USD',
       'EOS/USD', 'VET/USD', 'DAT/USD', 'BMI/USD', 'PAS/USD', 'ENJ/USD',
       'YFI/USD', 'AXS/USD', 'CCD/USD', 'CHZ/USD', 'SOL/USD', 'BSV/USD',
       'XLM/USD', 'RRT/USD', 'OMN/USD', 'XMR/USD', 'GNT/USD', 'PLU/USD',
       'MLN/USD', 'ETP/USD', 'UTK/USD', 'KSM/USD', 'SAN/USD', 'APE/USD',
       'ICE/USD', 'LYM/USD', 'BMN/USD', 'SNX/USD', 'ALG/USD', 'LEO/USD',
       'TSD/USD', 'WAX/USD', 'ZCN/USD', 'ZMT/USD', 'ZRX/USD', 'KNC/USD',
       'UOP/USD', 'REQ/USD', 'REP/USD', 'BNT/USD', 'FTT/USD', 'UNI/USD',
       'XCH/USD', 'XRA/USD', 'DASH/USD', 'ICP/USD', 'BTC/USD', 'CTK/USD'],
      dtype=object)

In [54]:
all_coins['symbol'] = all_coins['symbol'].str.replace('/USD','')

In [66]:
display(all_coins.head())
display(all_coins.tail())

           symbol    open    high     low   close    Volume USD
date
2022-08-04    AMP  1.2195  1.2351  1.2109  1.2351    166.502814
2022-08-03    AMP  1.2757  1.2815  1.2016  1.2195   2386.907702
2022-08-02    AMP  1.2395  1.3454  1.1198  1.2690  17428.537774
2022-08-01    AMP  1.3583  1.3941  1.1644  1.2400   3366.315851
2022-07-31    AMP  1.7732  1.7759  1.3119  1.3583   3836.307001

           symbol    open    high     low   close    Volume USD
date
2021-12-12    CTK  1.6700  1.7599  1.6324  1.7599  16546.032830
2021-12-11    CTK  1.5808  1.7199  1.5808  1.6680  15553.434563
2021-12-10    CTK  1.5261  1.8173  1.5261  1.5808  15983.444664
2021-12-09    CTK  1.6459  1.6884  1.4841  1.5300  10878.331664
2021-12-08    CTK  1.6399  1.6750  1.5250  1.6370  13268.057791

In [67]:
coin_symbols = all_coins['symbol'].unique()

In [68]:
coin_symbols

array(['AMP', 'PNG', 'KAN', 'DGB', 'LTC', 'AIX', 'BFT', 'XRP', 'STJ',
       'SXX', 'ZIL', 'ESS', 'TRX', 'EDO', 'ANT', 'VSY', 'DOG', 'QTM',
       'GTX', 'XRD', 'MKR', 'FCL', 'LRC', 'JST', 'GNO', 'BTG', 'BAL',
       'IDX', 'QTF', 'CEL', 'CLO', 'EUS', 'DAI', 'XTZ', 'XVG', 'IQX',
       'SRM', 'ADA', 'VEE', 'RBT', 'FIL', 'OXY', 'HMT', 'EUT', 'FET',
       'CRV', 'UOS', 'FUN', 'BTT', 'ODE', 'ATO', 'OMG', 'KAI', 'WBT',
       'BAT', 'DOT', 'MOB', 'PNK', 'IOT', 'XSN', 'GRT', 'DVF', 'GOT',
       'ZEC', 'MNA', 'HIX', 'ETC', 'ANC', 'UST', 'XDC', 'AID', 'SGB',
       'NEO', 'ETH', 'MIM', 'UDC', 'WOO', 'SUN', 'PAX', 'MIR', 'SNT',
       'B2M', 'QTUM', 'FTM', 'EOS', 'VET', 'DAT', 'BMI', 'PAS', 'ENJ',
       'YFI', 'AXS', 'CCD', 'CHZ', 'SOL', 'BSV', 'XLM', 'RRT', 'OMN',
       'XMR', 'GNT', 'PLU', 'MLN', 'ETP', 'UTK', 'KSM', 'SAN', 'APE',
       'ICE', 'LYM', 'BMN', 'SNX', 'ALG', 'LEO', 'TSD', 'WAX', 'ZCN',
       'ZMT', 'ZRX', 'KNC', 'UOP', 'REQ', 'REP', 'BNT', 'FTT', 'UNI',
       'XCH', 'XRA', 'DASH', 'ICP', 'BTC', 'CTK'], dtype=object)

In [74]:
mycrypto=[]

for each in coin_symbols:
    name = [all_coins[all_coins['symbol'] == each].drop('symbol',axis=1)
    mycrypto.append(name)
            

                        
mycrypto[0]

TypeError: unhashable type: 'Series'

In [70]:
coin_symbols_list = list(coin_symbols)
coin_data = pd.concat(mycrypto,axis=1, keys= coin_symbols_list, join='outer')

#portfolio_prices_df = pd.concat([AAPL, MSFT],axis=1, keys=['AAPL','MSFT'])

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [33]:
coin_symbols.datatype()

AttributeError: 'numpy.ndarray' object has no attribute 'datatype'

In [48]:
coin_symbols_list = list(coin_symbols)
type(coin_symbols_list)
print(coin_symbols_list)

['AMP', 'PNG', 'KAN', 'DGB', 'LTC', 'AIX', 'BFT', 'XRP', 'STJ', 'SXX', 'ZIL', 'ESS', 'TRX', 'EDO', 'ANT', 'VSY', 'DOG', 'QTM', 'GTX', 'XRD', 'MKR', 'FCL', 'LRC', 'JST', 'GNO', 'BTG', 'BAL', 'IDX', 'QTF', 'CEL', 'CLO', 'EUS', 'DAI', 'XTZ', 'XVG', 'IQX', 'SRM', 'ADA', 'VEE', 'RBT', 'FIL', 'OXY', 'HMT', 'EUT', 'FET', 'CRV', 'UOS', 'FUN', 'BTT', 'ODE', 'ATO', 'OMG', 'KAI', 'WBT', 'BAT', 'DOT', 'MOB', 'PNK', 'IOT', 'XSN', 'GRT', 'DVF', 'GOT', 'ZEC', 'MNA', 'HIX', 'ETC', 'ANC', 'UST', 'XDC', 'AID', 'SGB', 'NEO', 'ETH', 'MIM', 'UDC', 'WOO', 'SUN', 'PAX', 'MIR', 'SNT', 'B2M', 'QTUM', 'FTM', 'EOS', 'VET', 'DAT', 'BMI', 'PAS', 'ENJ', 'YFI', 'AXS', 'CCD', 'CHZ', 'SOL', 'BSV', 'XLM', 'RRT', 'OMN', 'XMR', 'GNT', 'PLU', 'MLN', 'ETP', 'UTK', 'KSM', 'SAN', 'APE', 'ICE', 'LYM', 'BMN', 'SNX', 'ALG', 'LEO', 'TSD', 'WAX', 'ZCN', 'ZMT', 'ZRX', 'KNC', 'UOP', 'REQ', 'REP', 'BNT', 'FTT', 'UNI', 'XCH', 'XRA', 'DASH', 'ICP', 'BTC', 'CTK']

In [40]:
keys=['AAPL','MSFT']
type(keys)

list

In [49]:
type(mycrypto)

list

In [63]:
mycrypto[0]

               open     high      low    close     Volume USD
date
2022-08-04  1.21950  1.23510  1.21090  1.23510     166.502814
2022-08-03  1.27570  1.28150  1.20160  1.21950    2386.907702
2022-08-02  1.23950  1.34540  1.11980  1.26900   17428.537774
2022-08-01  1.35830  1.39410  1.16440  1.24000    3366.315851
2022-07-31  1.77320  1.77590  1.31190  1.35830    3836.307001
...             ...      ...      ...      ...            ...
2021-12-12  0.88343  0.96654  0.87428  0.94159   13941.436290
2021-12-11  0.86965  0.92295  0.83974  0.88333   30753.803370
2021-12-10  0.95000  0.95143  0.85136  0.87122   37656.374906
2021-12-09  0.99655  1.02500  0.88961  0.95000   14575.353238
2021-12-08  0.85444  1.07590  0.85065  0.99632  313558.071034

[240 rows x 5 columns]